<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename='Main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static' , filename='all.min.css') }}">
    <link rel="icon" href="{{ url_for('static' , filename='images/image.jpeg') }}">
    <title> Change Password</title>
</head>
<body>
    <section class="Two">
        <div class="Half">
            <img src="{{ url_for('static' , filename='Images/logo-no-background.png') }}">
        </div>
        <div class="Half">
            <form method="post" action="{{url_for('ChangePassword')}}">
                <label> Username </label>
                <input type="text" required name="Username">
                <label> Old Password </label>
                <input type="password" required name="OldPassword">
                <label> New Password </label>
                <input type="password" required name="NewPassword">
                <label> Renew Password </label>
                <input type="password" required name="RenewPassword">
                <input type="submit" value="Update">
            </form>
        </div>
    </section>
    <footer>
        <div></div>
        <div>
            <h1> Join Our Newsletter </h1>
            <h1> Follow US On </h1>
            <ul>
                <li>
                    <i class="fa-2x fab fa-facebook"></i>
                </li>
                <li>
                    <i class="fa-2x fab fa-instagram"></i>
                </li>
                <li>
                    <i class="fa-2x fab fa-twitter"></i>
                </li>
                <li>
                    <i class="fa-2x fab fa-tiktok"></i>
                </li>
                <li>
                    <i class="fa-2x fab fa-youtube"></i>
                </li>
            </ul>
        </div>
    </footer>
    <div class="Full">
        <h2> © 2023 EGYPTAIR, All Rights Reserved </h2>
        <h2> Created By <span>AM Team</span> </h2>
    </div>
    <script src="{{ url_for('static' , filename='Main.js') }}"></script>
    <script src="{{ url_for('static' , filename='all.min.js') }}"></script>
    <script src="{{ url_for('static' , filename='all.js') }}"></script>
</body>
</html>