{% extends 'Fixed Side/Header.html'%}
{% block Body %}
<section class="Two">
    <div class="Half">
        
    </div>
    <div class="Half">
        <h1> Login To Account </h1>
        <form action="{{ url_for('SearchAccount') }}" method="post">
            <label> Username or Id </label>
            <input name="Username" type="text" required>
            <label> Password </label>
            <input name="Password" type="password" required>
            <input type="submit" value="Send">
        </form>
        <a href=""> Forgrt Password? </a>
        <a href="{{ url_for('Register') }}"> Create New Account? </a>
        </form>
    </div>
</section>
{% endblock %}