{% extends 'Fixed Side/Passenger.html' %}
{% block Body %}
<section class="Two">
    <div class="Half">
        <img src="{{ url_for('static' , filename='Images/logo-no-background.png') }}">
    </div>
    <div class="Half">
        <h1> Midify Ticket Info </h1>
        <form method="post" action="{{ url_for('SearchTicketClass') }}">
            <label> Ticket Id </label>
            <input type="number" name="Id">
            <input type="submit" value="Search">
        </form>
    </div>
</section>
{% endblock %}