{% extends 'Fixed Side/Passenger.html' %}
{% block Body %}
<section class="One">
    <div class="X-Full">
        <h1> Our Flights Trip </h1>
        <form>
            <input type="search" name="SearchValue" placeholder="Search Bar">
        </form>
    </div>
    <div class="Full">
        <table>
            <thead>
                <th>
                    <td> Airline </td>
                    <td> From </td>
                    <td> To </td>
                    <td> Travelling date </td>
                    <td> Arriaving date </td>
                    <td> Aircraft </td>
                    <td> Type </td>
                </th>
            </thead>
            <tbody>
               
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</section>
{% endblock %}