{% extends 'Fixed Side/Admin.html' %}
{% block Body %}
<section class="Two">
    <div class="Half">
        <img src="{{ url_for('static' , filename='Images/logo-no-background.png') }}">
    </div>
    <div class="Half">
        <h1> Add New Aircraft </h1>
        <form method="post" action="">
            <label> Name </label>
            <input type="text" required name="Name">
            <label> Brand </label>
            <input type="text" required name="Brand">
            <label> Type </label>
            <select required name="Type">
                <option value="Large"> Large </option>
                <option value="Medium"> Medium </option>
                <option value="Small"> Small </option>
                <option value="Helicopter"> Helicopter </option>
            </select>
            <br><br>
            <label> Capacity </label>
            <input type="number" required name="Capacity">
            <label> Class A Capacity </label>
            <input type="number" required name="ClassA">
            <label> Class B Capacity  </label>
            <input type="number" required name="ClassB">
            <label> Class C Capacity </label>
            <input type="number" required name="ClassC">
            <label> Production Date </label>
            <input type="date" required name="ProDate">
            <input type="submit" value="Insert">
        </form>
    </div>
</section>
{% endblock %}