:root{
    --High-Dark:rgb(53, 53, 53);
    --Mid-Dark:rgb(60, 110, 113);
    --Low-Dark:rgb(40, 75, 99);
    --Low-White:rgb(217, 217, 217);    
    --High-White:rgb(255, 255, 255);
    --Shadow:rgb(109, 109, 109);
}

/* Start Genral Layout */
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    transition: 1s;
}

body{
    padding: 0%;
    margin: 0%;
    color: var(--maincolor);
    position: relative;
}

.Cover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color:var(--Shadow);
    z-index: 10;
    opacity: .8;
}
.Cover.Loading {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border-width: 5px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: dotted;
    border-right-style: dotted;
    border-color:var(--High-White) ;
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    animation: ForRight 2s linear infinite;
}
.Cover .Loading::before {
    content: "";
    width: 150px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border-width: 5px;
    border-top-style: solid;
    border-bottom-style: dotted ;
    border-left-style: solid;
    border-right-style: dotted;
    border-color: var(--High-Dark) ;
    animation: ForLeft 3s linear infinite;
    margin: auto;
}
.Cover .Loading::after {
    content: "";
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    border-width: 5px;
    border-top-style: dotted ;
    border-bottom-style: solid;
    border-left-style: dotted;
    border-right-style:solid ;
    border-color: var(--Low-White) ;
    animation: ForRight 1s linear infinite;
    margin: auto;
}
@keyframes ForRight {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes ForLeft {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

nav {
    padding: 0%;
    margin: 0%;
    width: 100%;
    display: block;
    background-color: var(--Low-White);
}

nav ul {
    list-style-type: none;
    padding: 0.5%;
    margin: 0%;
    width: 99%;
    padding-top: 20px;
    gap: 5%;
    vertical-align: middle;
}

nav ul li{
    text-align: center;
}

nav ul li a,
nav ul li form input{
    padding: 0px !important;
    margin: 0px !important;
    padding-top: 10px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: var(--Mid-Dark);
    font-size: x-large;
}
nav:hover{
    background-color: var(--Low-Dark);
}
nav:hover ul li a ,
nav:hover ul li form input{
    border-radius: 10px;
    background-color: transparent;
    color: var(--Low-White);
}
nav:hover ul li,
nav ul li a:hover ,
nav ul li:hover form input{
    color: var(--High-White) !important;
    cursor: pointer;
}
nav ul li img {
    height: 40px;
    width: 50px;
    margin-right: 10px;
    border-radius: 100%;
}

header {
    width: 100%;
    height: 85vh;
    position: relative;
    background-image: url("Images/Photo1.jpg");
    background-size:100% ;
}
header > h1 {
    font-size: 50px;
    color: var(--Mid-Dark);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--High-White);
}

header h1 span{
    font-size: 60px;
    color: var(--Low-Dark);
}
header .Trips{
    z-index: 2;
    width: 70%;
    position: absolute;
    top: 75%;
    left: 15%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-rows: repeat(2 , auto);
    background-color: var(--Low-White);
    padding: 10px;
    border-radius: 5px;
}
header .Trips div form div{
    padding: 10px;
    display: inline-block;
}
header .Trips div form div label {
    font-size: x-large;
}
header .Trips > div:last-of-type{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3px;
}
header .Trips > div:last-of-type div{
    padding: 20px;
    background-color: var(--High-White);
    color: var(--High-Dark);
}
header .Trips > div:last-of-type div h1{
    display: inline-block;
    padding-left: 5px;
}
header .Trips > div:last-of-type div h3{
    color: var(--Low-Dark);
    font-size: larger;
}

.Offers{
    text-align: center;
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("Images/Photo3.jpg");
    background-size:100% ;
    background-repeat: no-repeat;
    padding: 12.5%;
    position: relative;
}
.Offers::after{
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--Mid-Dark);
    opacity: 0.3;
    text-align: center;
}
.Offers > h1 {
    z-index: 2;
    font-size: 50px;
    color: var(--Mid-Dark);
}

.Offers > h1 span{
    font-size: 60px;
    color: var(--Low-Dark);
}

.Offers svg{
    color: var(--Mid-Dark);
}

.Offers > div{
    z-index: 2;
    display: grid;
    grid-template-columns:60% 40%;
    gap: 15%;
}
.Offers > div > div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.Offers > div > div > div{
    border-radius: 10px;
    height: 300px;
    background-color: var(--High-Dark);
    color: var(--Low-White);
    display: grid;
    grid-template-columns:58% 38%;
    gap: 4%;
    overflow: hidden;
    position: relative;
}
.Offers > div > div > div::after{
    content: ">";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--High-Dark);
    color: var(--Low-White);
    font-size: xx-large;
    padding: 5px;
    height: 35px;
    width: 25px;
    border-radius:20px 0px 10px 0px;
}
.Offers > div > div > div > img{
    height: 100%;
    width: 100%;
}

.Offers > div > div > div > div {
    display: grid;
    grid-template-rows: repeat(3 , auto);
    height: 70px;
}

.Offers > div > div > div > div h2{
    display: inline-block;
    padding-left:5px ;
}


.Board{
    width: 100%;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows:repeat(2,auto) ;
    gap: 10px;
    height: 600px;
    background-color: var(--Mid-Dark);
    text-align: center;
}
.Board > div {
    width: 60%;
    margin: auto 20%;
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 10px;
}

.Board > h1 {
    height: 100px;
    font-size: 50px;
    color: var(--High-White);
    transition: 1s;
}
.Board > div >div{
    padding:20px ;
}
.Board > div >div:hover{
    background-color: var(--Low-White);
    border-radius: 20px;
}
.Board > div >div  p{
   font-size: x-large;
   color: var(--Low-White);
}
.Board > div >div  svg{
    color: var(--High-Dark);
}

.Board > div >div:hover p{
    color: var(--Low-Dark);
}

.Services {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("Images/Photo5.jpg");
    background-size:100% ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    height: 500px;
}

.Services h1 {
    font-size: 55px;
    color: var(--Mid-Dark);

}
.Services h1 span{
    font-size: 65px;
    color: var(--Low-Dark);
}

.Services > div{
    padding: 50px auto ;
    display: grid;
    grid-template-columns: repeat(5,20%);
    color: var(--Mid-Dark);
} 

.Services > div > div {
    padding: 30px;
}
.Services > div > div > h2{
    font-size: xx-large;
}

.Services > div > div > p{
    font-size: large;
    color: var(--Low-White);
}

footer {
    padding-top: 35%;
    width: 100%;
    background-image: url("Images/Photo2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: center;
    background-attachment: fixed;
}
footer div h1{
    color: var(--Mid-Dark);
    padding: 20px;
    font-size: 40px;
}

footer div ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 15%);
    gap: 2%;
}

.Full{
    width: 100%;
    background-color: transparent;
    display: flex;
}

.Full h2{
    color: var(--Low-White);
    width: 50%;
}

.Full h2:first-of-type{
    float: left;
}

.Full h2:last-of-type{
    float: right; 
    direction: rtl;
}



.Full h2 span{
    color: var(--Mid-Dark);
}

.One {
    width: 100%;
    background-color: transparent !important;
}
.One .Full{
    width: 100%;
}
.One .Full h1 {
    font-size: 58px;
    color: var(--Low-White);
}
.One .Full h1 span{
    color: var(--Low-Dark);
    font-size: 64px;
}

.One .Full table {
    width: 100%;
    text-align: center;
    font-size: large;
}
.One .Full table td {
    padding: 8px;
}
.One .Full > table > thead > th > td{
    color: var(--Low-Dark);
}

.One .Full > table tbody tr td img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.One .Full > table > tbody > tr > td {
    border: 2px solid var(--Mid-White);
    color: var(--Mid-Dark);
}
.Two{
    background-image: url("Images/Photo3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 90vh;
}
.Two .Half{
    text-align: center;
}

.Two .Half form , 
.Two .Half ul{
    display: grid;
    padding: 20px;
    width: 60%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: space-around;
    gap: 20px;
    font-size: large;
    list-style-type: none;
}

input:not([type="radio"],[type="submit"],[type="button"]),
.Two .Half form textarea{
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--Shadow);
}
form input[type="submit"],
form input[type="button"],
.Two .Half ul li {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 25px;
    font-size: larger;
    color: var(--High-Dark);
    background-color: var(--Low-White);
    border: none;
}
.Center{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2 , 1fr);
    gap: 40px;
    justify-content: space-around;
}
.Center h1 {
    font-size: 55px;
    color: var(--Mid-Dark);

}
.Center h1 span{
    font-size: 65px;
    color: var(--Low-Dark);
}

form input[type="submit"]:hover,
input[type="button"]:hover,
.Two .Half ul li:hover{
    color: var(--Low-White);
    background-color: var(--Low-Dark);
}

.Two .Half ul li a {
    text-decoration: none;
    color: var(--High-Dark);
}
.Two .Half ul li:hover a {
    color: var(--Low-White);
}

.Two .Half img{
    height:100%;
}
@media screen and (min-width:1201px) {
    nav ul{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        justify-content: space-around;
        gap: 20px;
    }
    .Two{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        padding: 20px;
        gap: 20px;
        color: var(--Low-Dark);
    }
    .Two .Half{
        position: relative;
    }
    .Two .Half img{
        position: absolute;
        top: 0px;
        left: 0px;
        width:100%; 
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    nav ul{
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        justify-content: space-around;
        gap: 20px;
    }
    .Two{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        padding: 20px;
        gap: 20px;
        color: var(--Low-Dark);
    }
    
    .Two .Half img{
        position: fixed;
        top: 90px;
        left: 40px;
        width:50%;
    }
}

@media screen and (min-width:767px) and (max-width:1024px) {
    nav ul{
        display: grid;
        grid-template-columns: repeat(9 , 1fr);
        justify-content: space-around;
        gap: 20px;
    }
    .Two{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-around;
        padding: 20px;
        gap: 20px;
        color: var(--Low-Dark);
    }
    
    .Two .Half img{
        position: fixed;
        top: 90px;
        left: 40px;
        width:50%;
    }
}

@media screen and (min-width:481px) and (max-width:767px) {
    nav ul{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(9 , 1fr);
        justify-content: space-around;
        gap: 20px;
    }
    .Two{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        padding: 20px;
        gap: 20px;
        color: var(--Low-Dark);
    }
    
    .Two .Half img{
        width:100%;
        height: 100%;
    }
}

@media screen and (max-width:480px) {
    nav ul{
        display: grid;
        grid-template-columns:100%;
        grid-template-rows: repeat(9 , 1fr);
        justify-content: space-around;
        gap: 20px;
    }
    .Two{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-around;
        padding: 20px;
        gap: 20px;
        color: var(--Low-Dark);
    }
    
    .Two .Half img{
        width:100%;
    }
}
